
.form-container{
  /* border:0.2rem solid grey; */
  display:flex;
  flex-direction: column;
  justify-content: center;
  align-items:center;
  position: absolute;
  right: 0;
  left: 0;
  top: 0;
  bottom: 0;
}

.form-border{
  border:0.2rem solid grey;
  border-radius: 2%;
  padding:10px;
}

.form-container h2{
  text-align: center;
  color:yellowgreen
}

.new-user-form{
  /* border:0.2rem solid orange; */
  display:flex;
  flex-direction: column;
  text-align: center;
}

label{
  /* border:0.2rem solid yellow; */
  display:inline-block;
  margin:10px;
  padding:10px;
}

label span{
  display:inline-block;
  text-align: left;
  width:250px;
  font-family: cursive;
}

.error{
  color:red;
}